{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '' %}css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">

                <!-- info -->
                <!-- end info -->
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>check temperature</strong>

                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet
                                    massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>

                        </div>
                    </article>
                </div>

                <!-- button -->
                <div class="buttons">
                    <a href="{% url 'S3' %}">
                        <button class="button is-success">Ok</button>
                    </a>
                </div>
                <div class="buttons">
                    <a href="{% url 'S2' %}">
                        <button class="button is-danger">Problem</button>
                    </a>
                </div>
                <!-- end button -->
            </div>
        </div>
    </div>
</section>
</body>

</html>
