{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '' %}css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column box" style="background: rgba(0,0,0,0.05)">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                            <h1 class="title is-2">
                                patient report
                            </h1>
                            <div class="box">
                                <h2 class="title is-3" style="color: darkblue">
                                    medical info
                                </h2>
                                <hr>
                                <h3 class="title is-5">
                                    Lorem ipsum dolor sit amet. Ut consequatur assumenda At exercitationem dolores a
                                    illum minus
                                    vel
                                    perspiciatis repudiandae sed saepe quidem. Quo commodi nulla et maiores doloribus
                                    sit
                                    ducimus
                                    voluptatibus. Et corporis adipisci eos expedita odit est sapiente labore sed enim
                                    sapiente
                                    ut
                                    molestias voluptates. Qui suscipit consequuntur sit nihil quae et temporibus
                                    doloremque qui
                                    quod
                                    vitae.

                                    Sit corporis quia rem sapiente quia ut Quis repudiandae non voluptatum alias et
                                    libero
                                    officiis
                                    non
                                    dolor velit. Et Quis illum rem debitis sint est fugit officia est itaque nihil ut
                                    soluta
                                    similique
                                    ut vitae sint id error pariatur. Qui blanditiis galisum aut praesentium consequatur
                                    qui
                                    corrupti
                                    reprehenderit et consequuntur quos ut fugit magnam. Qui fugiat atque est sint omnis
                                    qui
                                    molestiae
                                    delectus est odit voluptatem non sunt eius aut neque nesciunt ad nemo iste.
                                </h3>
                            </div>
                            <div class="box">
                                <h2 class="title is-3" style="color: darkblue">
                                    medication info
                                </h2>
                                <hr>
                                <h3 class="title is-5">
                                    Lorem ipsum dolor sit amet. Ut consequatur assumenda At exercitationem dolores a
                                    illum minus
                                    vel
                                    perspiciatis repudiandae sed saepe quidem. Quo commodi nulla et maiores doloribus
                                    sit
                                    ducimus
                                    voluptatibus. Et corporis adipisci eos expedita odit est sapiente labore sed enim
                                    sapiente
                                    ut
                                    molestias voluptates. Qui suscipit consequuntur sit nihil quae et temporibus
                                    doloremque qui
                                    quod
                                    vitae.

                                    Sit corporis quia rem sapiente quia ut Quis repudiandae non voluptatum alias et
                                    libero
                                    officiis
                                    non
                                    dolor velit. Et Quis illum rem debitis sint est fugit officia est itaque nihil ut
                                    soluta
                                    similique
                                    ut vitae sint id error pariatur. Qui blanditiis galisum aut praesentium consequatur
                                    qui
                                    corrupti
                                    reprehenderit et consequuntur quos ut fugit magnam. Qui fugiat atque est sint omnis
                                    qui
                                    molestiae
                                    delectus est odit voluptatem non sunt eius aut neque nesciunt ad nemo iste.
                                </h3>
                            </div>
                            </p>
                        </div>
                    </div>

                </article>


            </div>
        </div>
    </div>
</section>
</body>

</html>
