{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '' %}css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">

                <!-- info -->
                <!-- end info -->
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">

                                <strong>report temperature</strong>

                                <br>
                                <form method=get action=reports role="form">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="field">
                                                <p class="control">
                                                    <textarea name="myText" rows="10" cols="140"></textarea> </p>
                                            </div>

                                        </div>
                                    </article>
                                    <br>
                                    <!-- button -->
                                    <div class="buttons">
                                        <button type="submit" name="action" class="button is-success">
                                            Ok
                                        </button>
                                    </div>

                                    <!-- end button -->
                                </form>
                            </div>

                        </div>
                    </article>
                </div>


            </div>
        </div>
    </div>
</section>
</body>

</html>
