{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static '' %}css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-four-fifths">
                <!-- list -->
                <div class="box">
                    report General: {{form}}
                </div>


                <!-- end list -->
                <!-- button -->
                <div class="buttons">
                    <a href="{% url 'S21' %}">
                        <button class="button is-link">next step</button>
                    </a>
                </div>

                <!-- end button -->
            </div>
        </div>
    </div>
</section>
</body>

</html>
